autom4te.cache
m4
.deps
.libs

*.la
*.lo
*.o

Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

loadjpeg
mpeg2vldemo
avcenc
h264encode
jpegenc
mpeg2vaenc
svctenc
vp9enc
putsurface
putsurface_wayland
vainfo
vavpp